button {
    border: 0;
    font-family: var(--font-primaria-regular);
    @include font(lg-32);
    background: var(--color-terciary-400);
    color: var(--color-primary-400);
    width: max-content;
    padding: var(--spacing-01) var(--spacing-03);
    cursor: pointer;
    transition: 0.3s ease-in-out background;

    @media (hover: hover) {
        &:hover {
            background: var(--color-secondary-400);
        }
    }
}
