:root {
    --font-primaria-regular: "Pixel", sans-serif;
    --font-secondary-regular: "Poppins-Regular", sans-serif;
    --font-secondary-bold: "Poppins-Bold", sans-serif;

    --color-primary-400: #04111c;
    --color-primary-300: #052843;
    --color-secondary-400: #e15750;
    --color-terciary-400: #e6ab36;
    --color-white: #ffffff;

    --spacing-01: 0.5rem;
    --spacing-02: 0.75rem;
    --spacing-03: 1rem;
    --spacing-04: 1.25rem;
    --spacing-06: 1.5rem;
    // --spacing-10: 1.75rem;
    // --spacing-08: 2rem;
    // --spacing-09: 2.25rem;
    --spacing-10: 2.5rem;
}
