& {
    font-family: var(--font-primaria-regular);
    // background: var(--color-primary-400);
    color: var(--color-white);
    margin: 0;

    * {
        margin: 0;
        box-sizing: border-box;

        &::after,
        &.before {
            margin: 0;
        }
    }

    .container {
        @include container;
    }

    #img-parallax {
        position: fixed;
        top: 0;
        width: 100%;
        height: 150dvh;
        display: block;
        z-index: 0;
        background: url("../img/elem-parallax.png") center -40% / 800px;

        img {
            @include img-contain;
        }
    }
}
